<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@drawable/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.RyanOS"
    android:usesCleartextTraffic="false">
    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".widget.RyanOsWidgetReceiver"
      android:exported="false"
      android:label="@string/widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/ryanos_widget_info" />
    </receiver>

    <service
      android:name=".widget.RyanOsWidgetListService"
      android:exported="false"
      android:permission="android.permission.BIND_REMOTEVIEWS" />

    <receiver
      android:name=".widget.RyanOsShoppingWidgetReceiver"
      android:exported="false"
      android:label="@string/shopping_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/ryanos_shopping_widget_info" />
    </receiver>

    <service
      android:name=".widget.RyanOsShoppingWidgetListService"
      android:exported="false"
      android:permission="android.permission.BIND_REMOTEVIEWS" />
  </application>

</manifest>
